<!-- //this is the homepage -->

<h1>
	this is a homepage
</h1>

<img src = "https://d33wubrfki0l68.cloudfront.net/5997a40576f3beca7bbbd86fe79a795e9d520d8e/87f88/themes/screenshots/landscape.png"> </img>

